alabaster==0.7.10
Babel==2.5.3
beautifulsoup4==4.6.0
certifi==2019.6.16
chardet==3.0.4
docutils==0.14
html2text==2016.9.19
httplib2==0.18.1
idna==2.8
imagesize==1.0.0
Jinja2==2.11.3
latexcodec==1.0.5
markdown2==2.3.9
MarkupSafe==1.1.1
oauth2==1.9.0.post1
oset==0.1.3
packaging==17.1
pybtex==0.21
pybtex-docutils==0.2.1
Pygments==2.2.0
pyparsing==2.2.0
pytz==2018.4
PyYAML==5.1.1
requests==2.22.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-bibtex==1.0.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.0.1
SQLAlchemy==1.3.5
thrift==0.10.0
typing==3.6.4
urllib3==1.25.3
