alabaster==0.7.12
Babel==2.9.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
dataclasses==0.8
docutils==0.16
greenlet==1.0.0
html2text==2020.1.16
httplib2==0.19.1
idna==2.10
imagesize==1.2.0
importlib-metadata==4.0.1
Jinja2==2.11.3
latexcodec==2.0.1
markdown2==2.4.0
MarkupSafe==1.1.1
oauth2==1.9.0.post1
oset==0.1.3
packaging==20.9
pybtex==0.24.0
pybtex-docutils==1.0.0
Pygments==2.8.1
pyparsing==2.4.7
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
six==1.15.0
snowballstemmer==2.1.0
soupsieve==2.2.1
Sphinx==3.5.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-bibtex==2.2.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.4
SQLAlchemy==1.4.11
thrift==0.13.0
typing==3.7.4.3
typing-extensions==3.7.4.3
urllib3==1.26.4
zipp==3.4.1
